@import models.Airport

@(airports: List[Airport])(implicit request: RequestHeader)

@main("Add Airport") {
    <a href="@routes.HomeController.index">Back</a>

    <div>
        <h1>Add Airport</h1>
        <form action="@routes.AirportController.create" method="post">
            @helper.CSRF.formField
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div >
                <label for="code">Code</label>
                <input type="text" id="code" name="code" required>
            </div>
            <div >
                <label for="city">City</label>
                <input type="text" id="city" name="city" required>
            </div>
            <div >
                <label for="country">Country</label>
                <input type="text" id="country" name="country" required>
            </div>
            <button type="submit">Add Airport</button>
        </form>
    </div>
}

