@import java.time.format.DateTimeFormatter
@import models.{Airport, Flight, Plane}
@(flights: List[Flight], airports: List[Airport], planes: List[Plane])

@main("Add Flight") {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <a href="@routes.HomeController.index" class="btn btn-primary">Back</a>


    <div class="container">
        <h1>Add Flight</h1>
    <form action="@routes.FlightController.create" method="post">
        <div class="form-group">
            <label for="departureAirport">Departure Airport</label>
            <select class="form-control" id="departureAirport" name="departureAirport">
            @for(airport <- airports) {
                <option value="@airport.id">@airport.name</option>
            }
            </select>
        </div>
        <div class="form-group">
            <label for="arrivalAirport">Arrival Airport</label>
            <select class="form-control" id="arrivalAirport" name="arrivalAirport">
            @for(airport <- airports) {
                <option value="@airport.id">@airport.name</option>
            }
            </select>
        </div>
        <div class="form-group">
            <label for="departureTime">Departure Time</label>
            <input type="datetime-local" class="form-control" id="departureTime" name="departureTime" value="@java.time.LocalDateTime.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm"))" required>
        </div>
        <div class="form-group">
            <label for="arrivalTime">Arrival Time</label>
            <input type="datetime-local" class="form-control" id="arrivalTime" name="arrivalTime" value="@java.time.LocalDateTime.now().plusHours(1).format(DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm"))" required>
        </div>
        <div class="form-group">
            <label for="plane">Plane</label>
            <select class="form-control" id="plane" name="plane">
            @for(plane <- planes) {
                <option value="@plane.id">@plane.model</option>
            }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Flight</button>
    </form>
    </div>




}
