@import models.{Airport, Flight, Plane}

@import java.time.format.DateTimeFormatter
@(flights: List[Flight], airports: List[Airport], planes: List[Plane])(implicit request: RequestHeader)

@main("Add Flight") {
    <a href="@routes.HomeController.index">Back</a>
    <div>
        <h1>Add Flight</h1>
        <form action="@routes.FlightController.create" method="post">
            @helper.CSRF.formField
            <div>
                <label for="departureAirport">Departure Airport</label>
                <select id="departureAirport" name="departureAirport">
                @for(airport <- airports) {
                    <option value="@airport.id">@airport.name</option>
                }
                </select>
            </div>
            <div>
                <label for="arrivalAirport">Arrival Airport</label>
                <select id="arrivalAirport" name="arrivalAirport">
                @for(airport <- airports) {
                    <option value="@airport.id">@airport.name</option>
                }
                </select>
            </div>
            <div>
                <label for="departureTime">Departure Time</label>
                <input type="datetime-local"  id="departureTime" name="departureTime" value="@java.time.LocalDateTime.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm"))" required>
            </div>
            <div >
                <label for="arrivalTime">Arrival Time</label>
                <input type="datetime-local"  id="arrivalTime" name="arrivalTime" value="@java.time.LocalDateTime.now().plusHours(1).format(DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm"))" required>
            </div>
            <div>
                <label for="plane">Plane</label>
                <select  id="plane" name="plane">
                @for(plane <- planes) {
                    <option value="@plane.id">@plane.model</option>
                }
                </select>
            </div>
            <button type="submit">Add Flight</button>
        </form>
    </div>


}
