@import models.Plane

@(planes: List[Plane])(implicit request: RequestHeader)

    @main("Add Plane") {
        <a href="@routes.HomeController.index">Back</a>

        <div>
            <h1>Add Plane</h1>
            <form action="@routes.PlaneController.create" method="post">
                @helper.CSRF.formField
                <div>
                    <label for="model">Model</label>
                    <input type="text"  id="model" name="model" required>
                </div>
                <div>
                    <label for="capacity">Capacity</label>
                    <input type="number"  id="capacity" name="capacity" required>
                </div>
                <button type="submit">Add Plane</button>
            </form>
        </div>
    }