@import models.Plane

@(planes: List[Plane])

    @main("Add Plane") {
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

        <a href="@routes.HomeController.index" class="btn btn-primary">Back</a>

        <div class="container">
            <h1>Add Plane</h1>
            <form action="@routes.PlaneController.create" method="post">
                <div class="form-group ">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" id="model" name="model" required>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control" id="capacity" name="capacity" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Plane</button>
            </form>
        </div>
    }