@(airports: List[Airport])(implicit request: RequestHeader)
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @for(airport <- airports) {
                <tr>
                    <td>@airport.id</td>
                    <td>@airport.name</td>
                    <td>@airport.code</td>
                    <td>@airport.city</td>
                    <td>@airport.country</td>
                    <td>
                        <form action="@routes.AirportController.delete(airport.id)" method="post">
                            @helper.CSRF.formField
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@routes.HomeController.goToAddAirport">Add Airport</a>

</div>