@import java.time.format.DateTimeFormatter


@(flights: List[Flight], airports: List[Airport], planes: List[Plane], request: RequestHeader)

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<div class="m-3">
    <form action="@routes.FlightController.filterFlights(None, None, None, None)" method="get" class="form-group">
        <div class="row align-items-center">
            <div class="col">
                <label for="planeId" class="form-label">Plane:</label>
                <select id="planeId" name="planeId" class="form-control">
                    <option value="">All</option>
                    @for(plane <- planes) {
                        <option value="@plane.id">@plane.model</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="departureAirportId" class="form-label">Departure Airport:</label>
                <select id="departureAirportId" name="departureAirportId" class="form-control">
                    <option value="">All</option>
                    @for(airport <- airports) {
                        <option value="@airport.id">@airport.name</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="arrivalAirportId" class="form-label">Arrival Airport:</label>
                <select id="arrivalAirportId" name="arrivalAirportId" class="form-control">
                    <option value="">All</option>
                    @for(airport <- airports) {
                        <option value="@airport.id">@airport.name</option>
                    }
                </select>
            </div>
            <div class="col align-self-end">
                <input type="submit" value="Filter" class="btn btn-primary">
            </div>
        </div>
    </form>

    <table class="table" id="flightsTable">
        <thead>
            <tr>
                <th data-column="id"><a href="#">ID</a></th>
                <th data-column="departureAirport"><a href="#">Departure Airport</a></th>
                <th data-column="arrivalAirport"><a href="#">Arrival Airport</a></th>
                <th data-column="departureTime"><a href="#">Departure Time</a></th>
                <th data-column="arrivalTime"><a href="#">Arrival Time</a></th>
                <th data-column="plane"><a href="#">Plane</a></th>
                <th data-column="status"><a href="#">Status</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="flightsTable">
        @for(flight <- flights) {
            <tr>
                <td>@flight.id</td>
                <td>@airports.find(_.id == flight.departureAirportId).map(_.name).getOrElse("Unknown")</td>
                <td>@airports.find(_.id == flight.arrivalAirportId).map(_.name).getOrElse("Unknown")</td>
                <td>@flight.departureTime.format(DateTimeFormatter.ofPattern("dd-MM-yyyy HH:mm"))</td>
                <td>@flight.arrivalTime.format(DateTimeFormatter.ofPattern("dd-MM-yyyy HH:mm"))</td>
                <td>@planes.find(_.id == flight.planeId).map(_.model).getOrElse("Unknown")</td>
                <td>@flight.status</td>
                <td>
                    <form action="@routes.FlightController.delete(flight.id)" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.HomeController.goToAddFlight" class="btn btn-primary">Add Flight</a>

</div>

<script>
    // Sort flights list
    document.querySelectorAll('#flightsTable th').forEach(title => {
        title.addEventListener('click', evt => {
            const table = title.closest('table')
            const index_column = Array.prototype.indexOf.call(title.parentElement.children, title);
            const direction = title.classList.contains('ascending') ? -1 : 1;
            console.log(direction)
            const rows = Array.from(table.querySelectorAll('tr')).slice(1);
            if (title.dataset.column === 'id' || title.dataset.column === 'departureTime' || title.dataset.column === 'arrivalTime') {
                rows.sort((a, b) => direction * (parseInt(a.children[index_column].textContent) - parseInt(b.children[index_column].textContent)));
            } else {
                rows.sort((a, b) => direction * a.children[index_column].textContent.localeCompare(b.children[index_column].textContent));
            }
            rows.forEach(row => table.appendChild(row));
            table.querySelectorAll('th').forEach(title => title.classList.remove('ascending', 'descending'));
            console.log(direction === 1 ? 'ascending' : 'descending')
            title.classList.add(direction === 1 ? 'ascending' : 'descending');
        });
    })
</script>

