@(flightsList: List[Flight], airportsList: List[Airport], planesList: List[Plane])(implicit request: RequestHeader, flash: play.api.mvc.Flash)

    @main("Index") {
        @flash.get("error").map { message =>
            <div id="error-message">
                @message
                <button id="close-button" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @flash.get("success").map { message =>
            <div id="success-message">
                @message
                <button id="close-button" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <nav >
            <a  href="/">
                <img src="@routes.Assets.versioned("images/lunatech_logo.jpeg")" width="30" height="30"  alt="">
            </a>
            <div id="navbarNav">
                <ul  id="myTab" role="tablist">
                    <li >
                        <a  id="flights-tab" data-toggle="tab" href="#flights" aria-controls="flights" aria-selected="true">
                            Flights</a>
                    </li>
                    <li>
                        <a id="airports-tab" data-toggle="tab" href="#airports" role="tab" aria-controls="airports" aria-selected="false">
                            Airports</a>
                    </li>
                    <li >
                        <a  id="planes-tab" data-toggle="tab" href="#planes" role="tab" aria-controls="planes" aria-selected="false">
                            Planes</a>
                    </li>
                    <li>
                        <a  href="@routes.AuthController.logout">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="myTabContent">
            <div id="flights" role="tabpanel" aria-labelledby="flights-tab">
            @flights(flightsList, airportsList, planesList)
            </div>
            <div id="airports" role="tabpanel" aria-labelledby="airports-tab">
            <!--airports(airportsList) -->
            </div>
            <div  id="planes" role="tabpanel" aria-labelledby="planes-tab">
            <!--planes(planesList) -->
            </div>
        </div>

        <footer>
            <div>
                <span>© 2024 Lunatech Labs</span>
            </div>
        </footer>




        <script>
                window.onload = function () {
                    var errorMessage = document.getElementById('error-message');
                    var closeButton = document.getElementById('close-button');
                    if (errorMessage && closeButton) {
                        closeButton.addEventListener('click', function () {
                            errorMessage.style.display = 'none';
                        });
                    }
                };
        </script>
    }
