@()(implicit request: RequestHeader, flash: play.api.mvc.Flash)


<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>Login Page</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>

    <body>
        @flash.get("error").map { message =>
            <div id="error-message">
                @message
                <button id="close-button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div>

            <div>
                <div>

                    <div>
                        <h3>Sign in</h3>

                        <form action="@routes.AuthController.login" method="POST">
                            @helper.CSRF.formField
                            <div>
                                <input type="text" name="username" placeholder="Username" id="username" required>
                                <label for="username"></label>
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Password" id="password" required>
                                <label for="password"></label>
                            </div>
                            <button type="submit">
                                Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


