@()(implicit request: RequestHeader, flash: play.api.mvc.Flash)

@main("Login") {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    @flash.get("error").map { message =>
        <div id="error-message" class="alert alert-danger">
            @message
            <button id="close-button" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div>

        <div>
            <div>

                <div>
                    <h3>Sign in</h3>

                    <form action="@routes.AuthController.login" method="POST">
                        @helper.CSRF.formField
                        <div>
                            <input type="text" name="username" placeholder="Username" id="username" required>
                            <label for="username" class="form-label"></label>
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Password" id="password" required>
                            <label for="password" class="form-label"></label>
                        </div>
                        <button type="submit">
                            Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

    <script>
                window.onload = function () {
                    var errorMessage = document.getElementById('error-message');
                    var closeButton = document.getElementById('close-button');
                    if (errorMessage && closeButton) {
                        closeButton.addEventListener('click', function () {
                            errorMessage.style.display = 'none';
                        });
                    }
                };
        </script>
