@(vols: List[Vol])

<h1>Liste des vols</h1>

<table>
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Heure de départ</th>
            <th>Heure d'arrivée</th>
            <th>Avion</th>
            <th>Aéroport de départ</th>
            <th>Aéroport d'arrivée</th>
        </tr>
    </thead>
    <tbody>
        @for(vol <- vols) {
            <tr>
                <td>@vol.numero</td>
                <td>@vol.heureDepart.toString</td>
                <td>@vol.heureArrivee.toString</td>
                <td>@vol.avion.modele</td>
                <td>@vol.aeroportDepart.nom</td>
                <td>@vol.aeroportArrivee.nom</td>
            </tr>
        }
    </tbody>
</table>
